<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link rel="stylesheet" href="/stocks-style.css">
	<meta charset="UTF-8">
	<title>Stock App - Home Page</title>
</head>
<body class="indexBody">
	<p class="name"><%= @name %></p>

	<p><%= @exchange %></p>

	<p class="symbol"><%= @symbol %></p>

	<p class="percentage"><%= @percentage %>%</p>

	<p><%= @price %> USD</p>


	<a href="about">About page</a>

</body>
</html>
